
.header {
  font-size: 20px;
  margin: 50px auto;
}

.header span {
  display: block;
  font-weight: 400;
}

.section {
  padding: 30px 0px;
}

.form {
  border: 5px solid rgb(90, 20, 255);
  padding: 35px 20px;
}
.form-header, .section-header {
  font-size: 20px;
  font-weight: 900;
}
.btn {
  background-color: rgb(90, 20, 255);
  color: white;
}

.feature img{
  width: 64px;
  margin-bottom: 20px;
}

.feature{
  margin-top: 60px;
}